#list-filters label::before, label::after{
    position: absolute;
    content: "";
    height: 1px;
    background-color: var(--color-primary);
    width: 0;
    transition: all 350ms;
    -webkit-transition: all 350ms;
    -moz-transition: all 350ms;
}
#list-filters label::before{
    top: 0;
    left: 0;
}
#list-filters label::after{
    bottom: 0;
    right: 0;
}
#list-filters label.active::before, label.active::after{
    width: 100%;
}

#list-filters label{
    cursor: pointer;
    position: relative;
}